.row-fluid
	.col-xs-10.col-xs-offset-1
		.hero-unit.text-center
			%h1 Tasks
			%p Here you can manage your tasks.
			.text-center			
				= link_to 'New Task', new_task_path, class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => '#modal'
			.text-center
				%strong= current_user.email
			.text-center
				= link_to 'logout', destroy_user_session_path, method: :delete
- 2.times do
	%br
#task-list.container
	= render 'tasks/task_list'
#modal.modal.fade{tabindex: "-1", role: "dialog", 'aria-labelledby' => "New Task", 'aria-hidden' => "true"}
	.modal-dialog
		.modal-content